# Power BI
*.pbix
*.pbi
*.bak

# Excel temporary files
~$*.xlsx
~$*.xls
*.tmp

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.pyc

# Temporary files
*.log
*.temp
